/*Asterisk wildcard selector to override default styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    background-color: black;
}

main {
    background-color: yellow;
}

footer {
    background-color: green;
}