/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/*Overwrite default style settings*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Generic styling*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    color: #3a3a3a;
}

h1 {
    text-transform: uppercase;
}

/*Remove bullet points from any lists throughout site*/
ul {
    list-style: none;
    padding: 0;
}

/*Class that can be used to center text throughout site*/
.text-center {
    text-align: center;
}
 /*Header*/
header {
    background-color: #C8FCEA;
    color: #3a3a3a;
    position: fixed;
    z-index: 5;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: #8083FF;
}

h1 {letter-spacing: 2px;
color: #252525;}

#menu {
    letter-spacing: 2px;
}

#menu > li {
    margin-bottom: 1em;
}

/* Display line under page user is currently viewing*/
.active{
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar*/
nav {
    position: absolute;
    background-color: #C8FCEA;
    z-index: 5;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/
main {
    background-color: #ffffff;
    /*Push footer down by making main section take up all surplus space*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: #C8FCEA;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
    margin: 0 auto;
    padding-top: 5px;
    box-shadow: 0 -2px 2px #3a3a3a;
}

.contact-info {
    width: 100%;
    color: #3a3a3a;
    align-items: center;
    margin-bottom: 2em;
}

.contact-info p {
    padding-bottom: 5px;
    padding-top: 1px;
}
.contact-info a {
    color: #3a3a3a;
    text-decoration: none;
}

.contact-info a:hover {
    color: #8083FF;
}

.socials {
    width: 100%;
    justify-content: center;
}

.socials h2 {
    padding-bottom: 1rem;
}
.socials i {
    color: #3a3a3a;
    font-size: 180%;
    margin: 0 2%;
    padding: 1% 5% 3%;
}

.socials i:hover {
    color: #8083FF;
}

.socials li {
    display: inline;
}