/*Asterisk wildcard selector to override default styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Generic styling*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
}

header {
    background-color: black;
}

main {
    background-color: yellow;
    /*Push footer down by making main section take up all surplus space*/
    flex: 1 0 auto;
}

footer {
    background-color: green;
}